/*Main page css*/
* {
    -fx-primary: #2196F3;
}

.pane-node {
}


/*Main Page CSS*/
.jfx-text-field {
    -fx-focus-color: -fx-primary;
}

.jfx-text-field:error {
    -fx-focus-color: #AA0000;
}

.btn-start {
    -fx-background-color: -fx-primary;
}